<!DOCTYPE html>
<html>
<head>
    <title>Membership</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/xiami.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
      function switchFetch () {
            $.ajax({
                  url:"/switch",
                  success:function (data) {
                        if ("true"==data) {
                          $("#fetch-btn").html("<h4><font color=\"#ccc\">获取数据中...</font></h4>");
                        }else{
                          $("#fetch-btn").html("<h4><font color=\"#aaa\">已停止</font></h4>");
                        };
                      }
             })
       }

  function switchUpdate () {
    $.ajax({
          url:"/switchUpdate",
          success:function (data) {
              if ("true"==data) {
                   $("#update-btn").html("<h4><font color=\"#fff\">update</font></h4>");
               }else{
                   $("#update-btn").html("<h4><font color=\"#fff\">exist</font></h4>");
               };
          }
      })
    }

  function all_count () {
        $.ajax({
                // type:"GET",
                url:"/all_count",
                success :function (data) {
                        $("#all_count").html("<h4>注册人数:  "+data+"</h4>");
                }
        })
  }
  window.setInterval(all_count,30000);

  function search() { 
        var name =$("#search-text").val();
        $("#searchName").text(name);
        $.ajax({
              url:"/search2?page=1&name="+name,
              success:function  (data) {
                    $("#searchContent").html(data);
              }
        });
  }
</script>

  </head>
  <body>
  <div style="text-align: center">
    <div class="container">
      <div class="row" style="position:fixed;">
        
        <div class="span12" style="background-color:#4d5152">        
            <div class="span2"><a href="/"><h4>首页</h4></a></div>
            <div class="span2"><a href="/statistics"><h4 id="all_count">注册人数:  {{.all_count}}</h4></a></div>
              <!-- <div class="span2">
                    <button style="background-color:#4d5152;border:0" id="update-btn" onclick="switchUpdate();"><h4><font color="#fff">
                          {{if .update}}
                            update
                          {{else}}
                              exist
                            {{end}}
                    </font></h4></button>
              </div> -->
              <!-- <div class="span2"><a href="/online_stat"><h4>Visit Stat</h4></a></div> -->
              <div class="span2"><a href="/vcount"><h4>推荐排名</h4></a></div>
              <!-- <div class="span2"><a href="/search"><h4>搜索</h4></a></div> -->
              <div class="span2">
                    <button style="background-color:#4d5152;border:0" id="fetch-btn" onclick="switchFetch();"><h4><font color="#aaa">
                          {{if .fetch}}
                              获取数据中...
                          {{else}}
                              已停止
                            {{end}}
                    </font></h4></button>
              </div>
              <div class="span3">                      
                    <div class="search-wrap">
                      <div class="search-content">
                        <form action="/search" method="get" id="search">
                        <input id="J_searchStatus" type="submit" />
                        <!-- <input type="hidden" name="pos" value="1"> -->
                        <div class="search-input"><input id="J_searchInput" autocomplete="off" type="text" name="searchName" /></div>
                        </form>
                      </div>
                    </div>
              </div>
              <div hidden="true" id="searchName">{{.searchName}}</div>
              <div hidden="true" id="searchPage">{{.searchPage}}</div>
            <!-- <div class="span2"><a href="/previous"><h4>Previous</h4></a><a href="/next"><h4>Next</h4></a> -->
            <!-- </div> -->
       
        </div>
      </div>
    </div>
  </div>


