{{template "header" .}}
<script type="text/javascript">
	function upsert (uid) {
		$.ajax({
			type:"GET",
			url:"/upsert/"+uid,
			success:function (data) {
				// alert(data);
			}
		})	
	}

	function avatar(avatarid,uid) {
		$.ajax({
			type:"GET",
			url:"/upsert/"+uid,
			success :function (data) {
				// alert(data);
				// alert(data.avatar_large);
				// console.log(data);
				// console.log(data.avatar_large);
				$("#avatar"+avatarid).html("<img height=\"700\" width=\"500\" src=\""+data+"\" class=\"img-rounded\">");
			}
		})
	}
</script>
<div class="hero-text" style="background-image: url(/public/img/bg-detail.jpg); background-repeat: repeat;">
<!-- <div class="" style="background-color:#fff"><!-- rgb(17,63,61) -->
	<div class="container" style="background-color:#fff">
		<div class="hero-unit">
			<div class="rwo" style="text-align:center">
				<div class="span2"><a href="/previous"><h2>Previous</h2></a></div>
				<div class="span2 offset6"><a href="/next"><h2>Next</h2></a></div>
			</div>
			<hr>
		{{range $k,$v:= .users}}
			<div class="row">
				<div class="span3 offset2">
					<!-- <a href="{{.avatar_hd}}" target="_blank"> /detail/{{.id}}-->
					<a href="http://online.daoapp.io/detail/{{.id}}" target="_blank"><div id="avatar{{$k}}"><img height="700" width="500" src="{{.avatar_large}}" class="img-rounded"></div></a>
				</div>
				<div class="span3 offset1">
					<a onclick="avatar({{$k}},{{.id}});"><h4>{{.name}}</h4></a>
					<a onclick="avatar({{$k}},{{.id}});"><h4>{{.nickname}}</h4></a>
					<h6>{{.campus}}</h6>
					<h6>{{.department}}</h6>
					<h6>{{.degree}}</h6>
					<h6>{{.grade}}级</h6>
					<!-- <button onclick="upsert({{.id}});"><h5>update</h5></button> -->
				</div>
			</div>
			<hr>
		{{end}}
		<div class="rwo" style="text-align:center">
			<div class="span2"><a href="/previous"><h2>Previous</h2></a></div>
			<div class="span2 offset6"><a href="/next"><h2>Next</h2></a></div>
		</div>
		</div> <!-- hero-unit -->

	<!-- 	<div class="panel-footer">
			<nav >
				 <ul class="pagination" >
				 <li>
				 <a href="#" aria-label="Previous">
				 <span aria-hidden="true">&laquo;</span>
				 </a>
				 </li>
				 <li class="active"><a href="/?page=1">1</a></li>
				 <li><a href="/?page=2">2</a></li>
				 <li><a href="/?page=3">3</a></li>
				<li><a href="/?page=4">4</a></li>
				<li><a href="/?page=5">5</a></li>
				<li>
				<a href="#" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
				</a>
				</li>
				</ul>
			</nav>
	</div> -->
	<form action="/upsert/"></form>
	</div>
</div>

 {{template "footer"}}