{{template "header" .}}

<script type="text/javascript">
	function all_count () {
		$.ajax({
			// type:"GET",
			url:"/all_count",
			success :function (data) {
				$("#all_count").html("<h3>"+data+"</h3>");
			}
		})
	}

	function online_count () {
		$.ajax({
			type:"GET",
			url:"/online_count",
			success :function (data) {
				$("#online_count").html("<h3>"+data+"</h3>");
			}
		})
	}

	function favatar(avatarid,uid) {
		$.ajax({
			type:"GET",
			url:"/upsert/"+uid,
			success :function (data) {
				$("#favatar"+avatarid).attr("src",data);
				$("#favatar"+avatarid).attr("hidden",false);
				// $("#avatar"+avatarid).html("<img src=\""+data+"\">");
			}
		})
	}

	function mavatar(avatarid,uid) {
		$.ajax({
			type:"GET",
			url:"/upsert/"+uid,
			success :function (data) {
				$("#mavatar"+avatarid).attr("src",data);
				$("#mavatar"+avatarid).attr("hidden",false);
				// $("#avatar"+avatarid).html("<img src=\""+data+"\">");
			}
		})
	}
	// window.setInterval(all_count,10000);
	// window.setInterval(online_count,5000);
</script>
<div class="hero-text" style="background-image: url(/public/img/bg-detail.jpg); background-repeat: repeat;">
<!-- <div class="" style="background-color:#fff"><!-- rgb(17,63,61) -->
	<div class="container" style="background-color:#fff;text-align:center;">
		<div class="hero-unit">
			<div class="row">
				<div class="span2" style="color:#3a5">
					<label>
						<h3>在线</h3>					
					</label>
				</div>
				<div class="span2" style="color:#bbb">
					<label>
						<h3>隐身</h3>						
					</label>
				</div>
				<div class="span2" style="color:#555">
					<label>
						<h3>离线</h3>					
					</label>
				</div>
				<div class="span2" style="color:#655">
					<label>
						<h3>未检测</h3>					
					</label>
				</div>
				<div class="span2" style="color:#768">
					<label>
						<h3>总和</h3>				
					</label>
				</div>
			</div>

			<div class="row">
				<div id="status1_len" class="span2" style="color:#3a5">
					<h3>{{.status1_len}}</h3>
				</div>
				<div id="status0_len" class="span2" style="color:#bbb">
					<h3>{{.status0_len}}</h3>
				</div>
				<div id="status2_len" class="span2" style="color:#555">
					<h3>{{.status2_len}}</h3>
				</div>
				<div id="status2_len" class="span2" style="color:#555">
					<h3>{{.missed_len}}</h3>
				</div>
				<div id="all_count" class="span2" style="color:#768">
					<h3>{{.all_count}}</h3>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="span2 offset1" style="color:#3a5;text-align:left">
					<label>
						<h3>在线</h3>					
					</label>
				</div>
			</div>
			<div class="row">
				{{range $k,$v:= .status1}}
						<div class="span3">
							<a onclick="favatar({{$k}},{{.id}})">
								<label style="color:#3a6"><h4>
									{{$v.nickname}}({{$v.name}})
								</h4></label>
							</a>
							<a href="http://online.daoapp.io/detail/{{.id}}">
								<img id="favatar{{$k}}" class="img-rounded" hidden="true" src="">
							</a>
						</div>
				{{end}}
			</div>
			<hr>
			<div class="row">
				<div class="span2 offset1" style="color:#bbb;text-align:left">
					<label>
						<h3>隐身</h3>						
					</label>
				</div>
			</div>
			<div class="row">
				{{range $k,$v:= .status0}}
						<div class="span3">
							<a onclick="mavatar({{$k}},{{.id}})">
								<label style="color:#ccb"><h4>
									{{$v.nickname}}({{$v.name}})
								</h4></label>
							</a>
							<a href="http://online.daoapp.io/detail/{{.id}}">
								<img id="mavatar{{$k}}" class="img-rounded" hidden="true" src="">
							</a>
						</div>
				{{end}}
			</div>
			<hr>
			<!-- <h4>离线</h4>
			<div class="row">
				{{range $k,$v:= .status2}}
						<div class="span3">
							<a href="http://online.daoapp.io/detail/{{.}}" target="_blank">{{$v}}</a>
						</div>
				{{end}}
			</div> -->
		</div> <!-- hero-unit -->
	</div>
</div>
 {{template "footer"}}