{{template "header" .}}

<script type="text/javascript">
	function all_count () {
		$.ajax({
			// type:"GET",
			url:"/all_count",
			success :function (data) {
				$("#all_count").html("<h3>"+data+"</h3>");
			}
		})
	}

	function online_count () {
		$.ajax({
			type:"GET",
			url:"/online_count",
			success :function (data) {
				$("#online_count").html("<h3>"+data+"</h3>");
			}
		})
	}

	function avatar(avatarid,uid) {
		$.ajax({
			type:"GET",
			url:"/upsert/"+uid,
			success :function (data) {
				$("#avatar"+avatarid).html("<img src=\""+data+"\">");
			}
		})
	}
	function vcount () {
		$("#vcount-form").submit();
	}
	// window.setInterval(all_count,10000);
	// window.setInterval(vcount,15000);
</script>
<div class="hero-text" style="background-image: url(/public/img/bg-detail.jpg); background-repeat: repeat;">
<!-- <div class="" style="background-color:#fff"><!-- rgb(17,63,61) -->
	<div class="container" style="background-color:#fff;text-align:center;">
		<div class="hero-unit">
			<div class="row">
				<div class="span1">
					<!-- <a href="#"><h3>>.<</h3></a> -->
				</div>
				<div class="span3 offset6">
					<a href="/dropvcount"><h4>重新统计排名</h4></a>
				</div>	
			</div>
			<hr>
			<div class="row" style="text-align:left;">
				<div class="span3 offset1" style="color:#8a9">
				<label>
					<h3>女生 Top 10</h3>
				</label>
				</div>
			</div>
			<div class="row">
				{{range $k,$v:= .fvvcounts}}
						<div class="span2">
							<a onclick="avatar({{$k}},{{$v.UID}});"><h5>{{$v.Name}}</h5></a>
							<a href="http://online.daoapp.io/detail/{{$v.UID}}" target="_blank">
							<div id="avatar{{$k}}"><img class="img-circle" height="150" width="150" src="{{$v.Avatar}}"></div>
							</a>
						</div>
				{{end}}
			</div>			
			<hr>	<br>
			<div class="row" style="text-align:left;">
				<div class="span3 offset1" style="color:#8a9">
				<label>
					<h3>男生 Top 10</h3>
				</label>
				</div>
			</div>
			<div class="row">
				{{range $k,$v:= .mvvcounts}}
						<div class="span2">
							<a onclick="avatar({{$k}},{{$v.UID}});"><h5>{{$v.Name}}</h5></a>
							<a href="http://online.daoapp.io/detail/{{$v.UID}}" target="_blank">
							<div id="avatar{{$k}}"><img class="img-circle" height="150" width="150"  src="{{$v.Avatar}}"></div>
							</a>
						</div>
				{{end}}
			</div>	
		</div> <!-- hero-unit -->
		  <form hidder="true" id="search-form" action="/search?page=1"></form>
	</div>
</div>

<!-- <form id="vcount-form" action="/vcount"></form> -->
 {{template "footer"}}