{{template "header" .}}

<script type="text/javascript">
	function all_count () {
		$.ajax({
			// type:"GET",
			url:"/all_count",
			success :function (data) {
				$("#all_count").html("<h3>"+data+"</h3>");
			}
		})
	}

	function online_count () {
		$.ajax({
			type:"GET",
			url:"/online_count",
			success :function (data) {
				$("#online_count").html("<h3>"+data+"</h3>");
			}
		})
	}

	function avatar(avatarid,uid) {
		$.ajax({
			type:"GET",
			url:"/avatar/"+uid,
			success :function (data) {
				$("#avatar"+avatarid).html("<img src=\""+data+"\">");
			}
		})
	}

	// window.setInterval(all_count,10000);
	// window.setInterval(online_count,5000);
</script>
<div class="hero-text" style="background-image: url(/public/img/bg-detail.jpg); background-repeat: repeat;">
<!-- <div class="" style="background-color:#fff"><!-- rgb(17,63,61) -->
	<div class="container" style="background-color:#fff;text-align:center;">
		<div class="hero-unit">

			<hr>
			<!-- <h4>STATUS0</h4> -->
			<div class="row">
				{{range $k,$v:= .vcounts}}
						<div class="span3">
							<a onclick="avatar({{$k}},{{$v.UID}});"><h3>{{$v.VCount}}</h3></a>
							<a href="http://online.daoapp.io/detail/{{$v.UID}}" target="_blank">
							<div id="avatar{{$k}}"><img src="{{$v.Avatar}}"></div>
							</a>
						</div>
				{{end}}
			</div>			
			<hr>
		</div> <!-- hero-unit -->
	</div>
</div>
 {{template "footer"}}